<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="10">
	<th>메뉴</th>
	<th><%= id %></th>
<% for(var i=0; i< menu.length; i++) { %>
	<tr>
        <form action="/menu/menudetail/<%= menu[i].menuid %>" method="post">
            <td><%= menu[i].menuname %></td>
            <input type="hidden" name = "menuid" value ="<%= menu[i].menuid %>"/>
            <td><button type="submit">상세보기</a></td>
            <!-- <td><%= menu[i].menuprice %></td>
            <td><%= menu[i].menuclass %></td> -->
    </form>
	</tr>
    <% } %>
    <form action="/menu/search" method="post">
        <input type="text" name="menuname" placeholder="검색할 메뉴 이름 입력">
        <button type="submit">검색</button>
    </form>
    </table><br>
    <p> 추천 메뉴 : <%= recmenu[0] %></p>
    <p> 대표 메뉴 : <%= spemenu[0] %></p>
    <p> 베스트 메뉴 1번: <%= bestmenu2[0] %></p>
    <p> 베스트 메뉴 2번: <%= bestmenu2[1] %></p>
    <a href="/" class="main-btn">처음화면으로 돌아가기</a>
    
</body>
</html>